<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- 拒绝任何静态文件请求 -->
            <add name="BlockStatic" path="*" verb="*" modules="IsapiModule"
                 scriptProcessor="" resourceType="Unspecified" requireAccess="None"
                 preCondition="bitness64" />
        </handlers>
    </system.webServer>
</configuration>